/** GLOBAL DEFAULT STYLES **/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/** BODY STYLES **/
    /* Body */
    body {
        background-color: #d9dcd6;
    }

    /* Hyperlinks */
    a {
        color: #ffffff;
        text-decoration: none;
    }

    /* Paragraphs */
    p {
        font-size: 16px;
    }

/** HEADER STYLES **/
    /* Header Block */
    header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2a607c;
        color: #ffffff;
    }

    /* h1 Header */
    header h1 {
        display: inline-block;
        font-size: 48px;
    }

    /* Logo Hori`seo`n Color */
    .seo {
        color: #d9dcd6;
    }

    /* Navigation Block */
    header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    /* Navigation List */
    header nav li {
        list-style-type: none;
        display: inline-block;
        margin-left: 25px;
    }

/** IMAGE STYLES **/
    /* Hero Image */
    .hero {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }

    /* Floated Image Left */
    .float-left {
        float: left;
        margin-right: 25px;
    }

    /* Floated Image Right */
    .float-right {
        float: right;
        margin-left: 25px;
    }

/** MAIN CONTENT STYLES **/
    /* Main Block */
    main {
        width: 75%;
        display: inline-block;
        margin-left: 20px;
    }

    /* Text Style */
    main section {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }

    /* Main Images */
    main section img {
        max-height: 200px;
    }

    /* h2 Header */
    main section h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }

/** ASIDE STYLES **/
    /* Aside Block */
    aside {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
    }

    /* Text Style */
    aside section {
        margin-bottom: 32px;
        color: #ffffff;
    }

    /* h3 Header */
    aside section h3 {
        margin-bottom: 10px;
        text-align: center;
    }

    /* Aside Images */
    aside section img {
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }

/** FOOTER STYLES **/
    /* Footer Block */
    footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    /* h2 Footer */
    footer h2 {
        font-size: 20px;
    }